Para rodar o app.py
gunicorn -w 4 -b 127.0.0.1:5000 app:app

Backup Nginx
sudo cp /etc/nginx/sites-enabled/default /etc/nginx/sites-enabled/default.bak
Restaurar Nginx
sudo cp /etc/nginx/sites-enabled/default.bak /etc/nginx/sites-enabled/default

Salvar alteracoes no git
git add .
git commit -m "Ajustes no upload sequencial de múltiplos arquivos e correções na lógica de montagem."
git push -u origin master

Pasta log do Plex
ls -lh "/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/Logs"